.pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    li {
      user-select: none;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      color: #717980;
      cursor: pointer;
      margin: 0 12.5px;
      &.active {
        color: #FF4339;
      }
      &.disabled {
        cursor: not-allowed;
      }
    }
  }