.loading--parent {
    height: calc(100vh - 80px);
    background-color: rgba(0, 0, 0, 0.082);
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}